/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(24, 24, 24, 0.5);
    z-index: 100; 
  }
  .nav-container{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
      max-width: 1200px;
      margin: 0 auto;
  }
  .nav-btns{
    display: flex;
    gap: 40px;
  }
  .nav-btns a{
    font-weight: bold;
    font-family: system-ui, -apple-system;
    font-size: 1.25rem;
    color: var(--main-color);
    transition: transform 0.2s linear;
  }
  .nav-btns a:hover{
    color: var(--secondary-color);
    transform: rotate3d(1, 2, 3, 10deg);
  }
  


/* Keyframes for Rotation Animations */
@keyframes rotateClockwise {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes rotateCounterClockwise {
  from {
      transform: rotate(360deg);
  }
  to {
      transform: rotate(0deg);
  }
}

/* Initial Logo Style */
.logo {
  height: 60px;
  border-radius: 50px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px, rgba(0, 0, 0, 0.2) 0px -5px 15px, rgba(0, 0, 0, 0.15) 0px 3px 6px;
}

/* Hover Effect - Continuous Clockwise Rotation */
.logo:hover {
  animation: rotateClockwise 1s ease-in-out infinite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 35px, rgba(0, 0, 0, 0.2) 0px -10px 20px, rgba(0, 0, 0, 0.15) 0px 5px 8px;
}

/* Smooth Return to Default State - Counterclockwise Rotation */
.logo:not(:hover) {
  animation: rotateCounterClockwise 0.6s forwards;
}

/* Initial Position Reset*/
.logo {
  transform: rotate(0deg);
}


  
  /* Burger Menu */
  .burger-menu {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  
  }
  .burger-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
  }
  .burger-menu.active .burger-icon:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }
  
  .burger-menu.active .burger-icon:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.active .burger-icon:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
  
  /* Mobile Menu */
  .mobile-menu {
     position: absolute;
     top: 70px; 
     right: 0;
     background-color: rgba(16, 16, 16, 0.9);
     width: 100%;
     height: calc(100vh - 70px);
     padding: 20px;
     transform: translateX(100%); 
     transition: transform 0.3s ease; 
     z-index: 5000;
  }
    
  .mobile-menu a {
     display: block;
     margin-left: 20px;
     margin-top: 35px;
     color: white;
     font-weight: bold;
     font-family: system-ui, -apple-system;
  }
   .menu-active-btn{
    color: var(--secondary-color) !important;
    font-size: 20px;
  }
   .mobile-menu.show {
     transform: translateX(0);
  }



  @media (max-width: 768px) {
    /* Media for navigation, burger-menu */
  .nav-btns {
    display: none; 
 }
  .burger-menu {
    display: flex; 
 }
}